name: SonarCloud with Docker

on:
  push:
    branches:
      - master
      - ndack # Pour tester tes modifications immédiatement

jobs:
  build:
    if: github.repository_owner == 'kya03'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Installation de l'environnement Java sur la machine GitHub
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: zulu

      # Installation du navigateur pour les tests d'intégration (WebDriver)
      - name: Setup Chrome for Integration Tests
        uses: browser-actions/setup-chrome@latest

      # EXÉCUTION DES TESTS ET GÉNÉRATION DE LA COUVERTURE (JACOCO)
      # On ajoute -Dmaven.test.failure.ignore=true pour que Sonar puisse analyser
      # le code même si certains tests ne passent pas à 100%.
      - name: Run Tests and Generate Coverage
        run: |
          ./mvnw verify jacoco:report \
          -Dselenide.headless=true \
          -Dselenide.browser=chrome \
          -Dmaven.test.failure.ignore=true \
          -Dlicense.skip=true

      # ANALYSE SONARCLOUD
      # Utilise le rapport jacoco.xml généré à l'étape précédente
      - name: Analyze with SonarCloud
        run: |
          ./mvnw sonar:sonar \
          -Dsonar.projectKey=kya03_tp-docker \
          -Dsonar.organization=kya03 \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }} \
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
