name: SonarCloud with Docker
on:
  push:
    branches:
      - main  # <--- On cible la branche 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: zulu
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@latest
      - name: Build and Test
        run: |
          ./mvnw verify jacoco:report \
          -Dselenide.headless=true \
          -Dselenide.browser=chrome \
          -Dmaven.test.failure.ignore=true
      - name: Analyze
        run: |
          ./mvnw sonar:sonar \
          -Dsonar.projectKey=kya03_tp-docker \
          -Dsonar.organization=kya03 \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
